<h1 style="text-align:center;">Emilis Venckus - Software Integration Architect</h1>

<h3 style="text-align:center;">I offer full-lifecycle software engineering services in IT software integration, automation and performance tuning.</h3>
<h3 style="text-align:center;">Focus technologies and tools: IBM ACE, Amlen MQTT, Apache Kafka, IBM MQ, RedHat Ansible, Docker, Kubernetes, Linux, Shell, Git.</h3>

<h3 style="text-align:center;">Summary of my skills and values:</h3>
<p style="text-align:center;">
I Integrate systems and people. Collaboration is key.<br>
My main interests: Integration, Automation, Performance Engineering, Cloud, Understandability, IoT, Manufacturing.<br>
I have over 12 years of IT software project experience in automotive manufacturing, banking and insurance industries.<br>
I Covered wide range or technical, business and human aspects in context of a software product lifecycle.<br>
I analyze, design, implement, deploy, test, verify, automate, tune, scale, monitor, maintain, modernize, migrate and decomission software<br>
I Iterate and release in small steps.<br>
I like to keep things lightweight, efficient and flexible.<br>
I break down and compress complexity to make things understandable.<br>
I listen to people to understand their pain points.<br>
I strive to understand a system, architecture or organization as a whole.<br>
I show, don't tell.<br>
I visualize, educate and enable others.<br>
I like to study fundamentals, concepts, methods, tools.<br>
I like to hack and tinker around to understand stuff.<br>
I try to derive meaning, conclusions and actions.<br>
I like to ask creative strange questions, do unusual things, search for authentic value.<br>
From time to time I spice up the daily work with fun and excitement.<br>
</p>

<h3 style="text-align:center;">Availability: from 1st July 2025</h3>

<h3 style="text-align:center;">Contact:</h3>
<h3 style="text-align:center;">Email: info@emilis.de</h3>
<h3 style="text-align:center;"><a href="https://www.linkedin.com/in/emilis-venckus ">LinkedIn Profile</a></h3>
<h3 style="text-align:center;"><a href="https://www.x.com/emilis_venckus ">X Profile</a></h3>