<h1>Emilis Venckus</h1>
<h1>Software Engineering Services</h1>

<h2>Areas: Integration Automation Performance</h2>
<h2>Technologies: IBM ACE, Amlen MQTT, Apache Kafka, IBM MQ, RedHat Ansible, Docker, Kubernetes, Linux, Shell, Git</h2>
<h2>Lifecycle: Requirements Architecture Design Development Test Deployment Operations</h2>
<h2>Soft Skill: Communication, Teaming, Reliability, Autonomy</h2>
<h2>Experience: 12 years customer technical engagements with IBM technologies</h2>

<h3>Inquiries at info@emilis.de</h3>