<!DOCTYPE html>
<html>
  <!-- ... -->
  <body style="background-color:rgb(255,244,100);">
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Services", root_path %>
      <%= button_to "Log out", session_path, method: :delete if authenticated? %>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>